.navigation { 
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0;
  height: clamp(2rem, 10vw, 3rem);
  background-color: antiquewhite;
}

.nav-todo {
  margin: 0 1rem 0 0;
  text-decoration: none;
}

.nav-addtodo {
  text-decoration: none;
  margin: 0 1rem 0 0;
}

.nav-todo:hover, .nav-addtodo:hover {
  color: blue
}

.nav-todo:active, .nav-addtodo:active {
  color: red
}


